.card:hover[data-selectable="true"] {
  box-shadow: 0 0 4px 5.5px #264079, 0 0 5px 5px #6066d0, 0 0 8px 4.5px #15688e !important;
}
.icon-container {
  background: white;
  border-radius: 23px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.card {
  padding: 0px;
  border-radius: 20px;
  transition: all 0.5s;
  width: 100%;
  height: 250px;
  display: flex;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card[data-selected="true"] {
  box-shadow: 0 0 4px 5.5px #e56018, 0 0 5px 5px #d0c960, 0 0 8px 4.5px rgb(172, 74, 8) !important;
}

.title {
  box-sizing: border-box;
  color: rgb(210, 234, 255);
  font-family: Exo;
  font-size: 24px;
  width: 100%;
  font-style: italic;
  font-weight: 800;
  text-align: left;
  letter-spacing: 0.02em;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.card-container {
  height: 250px;

  transition: all 0.3s ease-in;
  perspective: 1000px;
}

.card-container-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;

  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-container[data-rotated="true"] .card-container-inner {
  transform: rotateY(180deg);
}
